* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar styling */
.navbar-icon-title {
    margin: 0;
}
.navbar form {
    width: 30%;
}
.navbar form input {
    width: 100% !important;
    border-radius: 10px;
}
.navbar .dropdown-container {
    position: relative;
}
.navbar .dropdown-menu {
    position: absolute;
    left: -80px !important;
}
.navbar .dropdown-item {
    padding: 2px 5px !important;
}
.navbar .dropdown-item p {
    margin: 0 10px;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media only screen and (max-width : 1500px) {
    .navbar .button-container button {
        font-size: 0.9em;
    }
    .dropdown-item p {
        font-size: 0.85em;
    }
}
@media only screen and (max-width : 992px) {
    .dropdown-item p {
        font-size: 0.7em;
    }
}
