* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* Navbar styling */
.navbar-icon-title {
    margin: 0;
}
.navbar form {
    width: 30%;
}
.navbar form input {
    width: 100% !important;
    border-radius: 10px;
}
.navbar .dropdown-container {
    position: relative;
}
.navbar .dropdown-menu {
    position: absolute;
    left: -80px !important;
}
.navbar .dropdown-item {
    padding: 2px 5px !important;
}
.navbar .dropdown-item p {
    margin: 0 10px;
}
