* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login_signup_container {
    height: 100vh;
    background-image: url(../img/log_sign_bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.login_signup_container .form_container {
    background: #ffffff;
    padding: 40px;
    width: 28%;
    border-radius: 4px;
    text-align: center;
}

.login_signup_container .error {
    padding-left: 5px;
    text-align: left;
    color: red;
    height: 15px;
}

.login_signup_container .welcome_message {
    width: 72%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_signup_container .welcome_message i {
    font-size: 100px;
}

.login_signup_container .welcome_message h1 {
    font-size: 100px;
    font-weight: bolder;
    position: relative;
    top: -50px;
}

.login_signup_container .welcome_message h2 {
    font-size: 100px;
    margin-top: 36px;
}

.login_signup_container h1 {
    text-align: center;
    color: #000;
    font-weight: 300;
    margin: 40px 0;
}

.login_signup_container .input_wrapper {
    margin-bottom: 10px;
    position: relative;
}

.login_signup_container .checkbox_wrapper {
    height: 37px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.login_signup_container .checkbox_wrapper #forgot_password {
    line-height: 37px;
}

.login_signup_container .input_wrapper label {
    position: absolute;
    pointer-events: none;
    font-size: 15px;
    top: 13px;
    left: 12px;
    color: #6c757d;
    transition: 0.2s all;
    cursor: text;
}

.login_signup_container .form_content .input_wrapper input {
    height: 48px;
    padding: 22px 12px 10px;
}

.login_signup_container .form_content .input_wrapper input:focus~label {
    top: 1px;
    font-size: 10px;
}

.login_signup_container .form_content .input_wrapper input:valid~label {
    top: 1px;
    font-size: 10px;
}

.login_signup_container .social_link_wrapper i {
    font-size: 60px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.login_signup_container .social_link_wrapper i:hover {
    top: -5px;
}

.login_signup_container .social_link_wrapper .fa.fa-google-plus-square {
    color: #ff0000;
}

.login_signup_container .social_link_wrapper .fa.fa-facebook-square {
    color: #00008b;
}